* {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

body {
  background: transparent;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  position: relative;
}

div.compass {
  font-size: 48px;

  /* CSS Flexbox */
  align-items: center;
  display: flex;
  flex-direction: row;

  position: absolute;
  
  /*
  bottom: 3%;
  left: 17.55%;
  */
}

div.direction {
  align-items: center;
  display: flex;
  flex-direction: row;

  margin-right: 10px;
}

span.border {
  color: rgba(255,255,255,1);
  display: inline-block;
  transform: scale(1.1, 1.5);
  opacity: 0.39;

  /* stroke effect */
  text-shadow:
    -1px -1px 0 #000,
    0 -1px 0 #000,
    1px -1px 0 #000,
    1px 0 0 #000,
    1px 1px 0 #000,
    0 1px 0 #000,
    -1px 1px 0 #000,
    -1px 0 0 #000;
}

span.direction {
  color: rgb(255,255,255);
  margin: 0 7px;
}

div.vicinity {
  color: rgb(255,255,255);
  font-size: 28px;

  /* CSS Flexbox */
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
span.street {
  color: rgb(240, 200, 80);
}
*/

span.zone {
  font-size: 24px;
  position: relative;
  top: -3px;
}

.shadow-stroke {
	text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000,
		2px 3px 2px rgba(0,0,0,0.75);
}